{% extends 'base.html.twig' %}

{% block title %}Historia odpytań słów kluczowych{% endblock %}

{% block body %}
    <h1>Keyword index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Keyword</th>
            </tr>
        </thead>
        <tbody>
        {% for keyword in keywords %}
            <tr>
                <td>{{ keyword.id }}</td>
                <td>{{ keyword.keyword }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}